/* top header css */
#h{
	display:flex;
	background-color:lime;
	align-items:center;
	height:40px;
	font-family:san-serif;
	
}
#followus{
	display:flex;
	background-color:lime;
	align-items:center;
	font-size:.8rem;
	margin:20px;
}

#followus a{
	text-decoration:none;
	padding:10px;
	color:black;
	
}

#mail-phone{
	margin-left:380px;
	
}
#mail-phone a{
	text-decoration:none;
	font-size:.7rem;
	margin:10px;
	color:black;
}

/* navbar css start */
	
#navbar{
	display:flex;
	align-items:center;
	height:60px;
}

#logo{
	margin-left:5px;
	
}

#logo img{
	width:120px;
	margin-left:40px;
}

#navbar ul{
	display:flex;
	margin-left:100px;
	
	
}
#navbar ul li{
	font-size:0.8rem;
	list-style:none;
	color:lime;
	display:block;
}

#navbar ul li a{
    text-decoration:none;
    padding:20px;
	dispaly:block;
	color:green;
	
}

#navbar button{
	color:black;
	background-color:lime;
	border:none;
	text-decoration:none;
	display:inline-block;
	font-size:.8rem;
	padding:5px;
	margin-left:9rem;
}


/* Landing page css */
.landing-page{
   height: 100vh;
   width: 100%;
   background:linear-gradient(0deg, rgba(20, 20, 20, 0.76), rgba(22, 22, 22, 0.733)), url('./images/landing.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.landing-text{
   position: absolute;
   top:60%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.landing-text h1{
    color: lime;
    font-size: 40px;
}

.landing-text p{
    color: white;
    font-size: 18px;
    margin-top: 15px;
}

.btns{
    margin-top: 20px;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 5px;
    color: lime;
    border: 1px solid white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
}

.btns:hover {
    background-color: #cbcff3ee;
    color: rgb(0, 0, 0);
}

/* Volunteer Section */
.volunteer-section {
    height: 100%;
    width: 100%;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.volunteer-section .title {
    text-align: center;
    color: black;
    font-size: 2rem;
}

.volunteer-section .title span {
    color: lime;
}

.volunteer-section .message {
    text-align: center;
    padding: 15px 10px;
    width: 50%;
    margin: auto;
}

.vol-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 85%;
    padding-top: 10px;
    margin-top: 15px;
}

.vol-container .cards p {
    text-align: center;
    margin: 0;
}

.vol-container .cards .name {
    color: rgb(38, 41, 41);
    padding-top: 5px;
    font-size: 20px;
}

.Volunteer_image{
    object-fit: cover;
}

/* test */

.test-section{
    height: 100%;
    width: 100%;
    background:linear-gradient(0deg, rgba(37, 36, 37, 0.712), rgba(41, 36, 39, 0.685)), url('./images/section.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.test-title{
    color: lime;
    font-size: 2rem;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 3rem;
}

.text-muted{
    color: white !important;
}

.carousel-control-next-icon:after, .carousel-control-prev-icon:after{
    color: #000000;
}
 
/* Footer */

footer{
    background-color: rgb(250, 246, 246);
}

footer h6 {
	color:lime;
}

footer  p{
	color:black;
}
.copyright{
    display: flex !important;
    justify-content: space-between;
    background-color: Black;
    color: lime;
    padding-left:5rem;
}

.copyright .icons{
    margin-right:6rem;
}

